{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
              {% include "components/question.html" with item=question %}

            <hr style="border-width: 3px;">

            {% for answer in answers %}
                {% include "components/answer.html" with item=answer %}
            {% endfor %}

            <hr style="border-width: 3px;">
            <form method="post">
                <label for="inputAnswer" class="form-label">Answer</label>
                <textarea class="form-control mb-3" id="inputAnswer" rows="3"
                          placeholder="Input your answer"></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

{% endblock %}