{% load static %}

<div class="card mb-3 w-100 border-0">
    <div class="row g-0">

        <div class="col-md-3 p-2">
            <div class="border w-50 ratio ratio-1x1">
                <img src="{% static 'img/test.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <input type="number" value="5" class="form-control" aria-label="Username"
                       aria-describedby="addon-wrapping">
            </div>
        </div>

        <div class="col-md">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">{{ item.title }}</h5>
                </a>
                <p class="card-text">{{ item.text }}</p>
                <div class="d-flex flex-row gap-3">
                    <div class="d-flex flex-wrap card_tags gap-3 w-100">
                        <span>Tags :</span>
                        <a href="#">tag1</a>
                        <a href="#">tag2</a>
                        <a href="#">tag3</a>
                        <a href="#">tag4</a>
                        <a href="#">tag5</a>
                        <a href="#">tag6</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>